
body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.error-container {
    text-align: center;
}

.error-code {
    font-size: 8rem;
    font-weight: 700;
    color: #ec1515;
}

.error-message {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.home-link {
    padding: 10px 20px;
    background-color: #ec1515;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.home-link:hover {
    background-color: #00bc00;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}

footer p {
    margin: 0;
}