#loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader svg {
  overflow: visible;
  max-width: 100%;
  max-height: 100%;
  display: block;
}

body.loading {
  overflow: hidden;
}

.loader svg {
  overflow: visible;
}

.d-spinner {
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(0, 1, 0.3, 1);
  animation-direction: normal;
  animation-iteration-count: infinite;
  transform-origin: left bottom;
}

.d-spinner.d-spinner__one {
  animation-name: dSpinnerOne;
  fill: #000;
}

.d-spinner.d-spinner__two {
  animation-name: dSpinnerTwo;
  fill: #1a1a1a;
}

.d-spinner.d-spinner__three {
  animation-name: dSpinnerThree;
  fill: #353535;
}

.d-spinner.d-spinner__four {
  animation-name: dSpinnerFour;
  fill: #555;
}

@keyframes dSpinnerOne {
  0% {
    opacity: 0;
    fill: #333333;
    transform: rotateZ(-65deg) scale(0.6);
  }

  7% {
    opacity: 1;
    fill: #333333;
    transform: rotateZ(0) scale(1);
  }

  57% {
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    fill: #000;
  }

  74% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }

  83% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }

  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}

@keyframes dSpinnerTwo {
  0% {
    opacity: 0;
    transform: rotateZ(-65deg) scale(0.6);
  }

  3% {
    opacity: 0;
    fill: #4d4d4d;
    transform: rotateZ(-65deg) scale(0.6);
  }

  10% {
    opacity: 1;
    fill: #4d4d4d;
    transform: rotateZ(0) scale(1);
  }

  60% {
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    fill: #1a1a1a;
  }

  71% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }

  79% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }

  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}

@keyframes dSpinnerThree {
  0% {
    opacity: 0;
    transform: rotateZ(-65deg) scale(0.6);
  }

  6% {
    opacity: 0;
    fill: #686868;
    transform: rotateZ(-65deg) scale(0.6);
  }

  13% {
    opacity: 1;
    fill: #686868;
    transform: rotateZ(0) scale(1);
  }

  63% {
    fill: #353535;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }

  68% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }

  76% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }

  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}

@keyframes dSpinnerFour {
  0% {
    opacity: 0;
    transform: rotateZ(-65deg) scale(0.6);
  }

  9% {
    opacity: 0;
    fill: #888888;
    transform: rotateZ(-65deg) scale(0.6);
  }

  16% {
    opacity: 1;
    fill: #888888;
    transform: rotateZ(0) scale(1);
  }

  64% {
    fill: #555;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }

  65% {
    opacity: 1;
    transform: rotateZ(0) scale(1);
    animation-timing-function: cubic-bezier(0, 0, 1, 0);
  }

  73% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }

  100% {
    opacity: 0;
    transform: rotateZ(45deg) scale(0.61);
  }
}